/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.site-content {
	padding-top: 50px;

	.content-area {


		.site-main {
			
		}
	}

}

.home {

	.hfeed.site {

		.site-content {

			ul {
				list-style: none;
				display: flex;
				align-content: center;

				img {
					max-height: 250px;
					max-width: none;
					width: auto;
				}

				h1 {
					line-height: 1.25;
					font-size: 1.3rem;
				}

				span, a {
					font-size: 0.75rem;
				}
			}
		}
	}
}


.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-title {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
